body {
	background-color: #34495e;
}

#calculator {
	position: absolute;
	left: 50px;
	width: 320px;
	height: 430px;
	background-color: #3498db;
	border-radius: 30px;
	box-shadow: inset 2px 2px 10px #CCCCFF, inset -2px -2px 10px #2222FF, 5px 5px 10px #333333;
}

#screen {
	position: relative;
	left: 10px;
	top: 20px;
	background-color: #7f8c8d;
	width: 300px;
	border-radius: 10px;
	padding-bottom: 5px;
	height: 40px;
	box-shadow: inset 0px 0px 10px #222222, 2px 2px 2px #8888FF, -2px -2px 2px #5555FF;
}

@font-face {
	font-family: 'LCD';
	src: url('digital-7 (mono).ttf');
}
#display {
	margin-top: -2px;
	font-family: 'LCD', monospace;
	font-size: 50px;
	display: inline-block;
	width: 290px;
	text-align: right;
}

#buttons {
	position: relative;
	left: 10px;
	top: 30px;
	font-family: sans-serif;
	font-size: 3em;
}

#buttons {
	border-spacing: 10px;
	width: 300px;
}
#buttons td {
	text-align: center;
	width: 50px;
	height: 50px;
	border-radius: 10px;
	box-shadow: inset 2px 2px 5px #FFFFFF, inset -2px -2px 5px #222222, 2px 2px 2px #222222;
}

#buttons td.numeral {
	background-color: #bdc3c7;
}

#buttons td.operator {
	background-color: #f39c12;	
}

#buttons td.pushed {
	-webkit-transform: translate(2px,2px);
	box-shadow: inset 0px 0px 8px #FFFFFF, inset -2px -2px 5px #222222, 0 0 0 0;
}